/* 优先级从低到高 */
@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

/* 扫描组件库 */
/* @source "@lexical/tailwind"; */
@source "../../node_modules/@lexical/tailwind/**/*.{js,mjs}";
/* Scan libs/ui components for Tailwind classes */
@source "../../../../libs/ui/src/**/*.{js,ts,jsx,tsx}";

/* 自定义变体 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --breakpoint-3xl: 1920px;
  /* 覆盖默认颜色 */
  --color-avocado-100: oklch(0.99 0 0);
  --color-blue-400: oklch(0.6376 0.1953 255.79);
  --color-blue-500: oklch(0.5731 0.2145 258.25);
  --color-blue-600: oklch(0.5726 0.1989 261.84);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --grid-13: repeat(13, minmax(0, 1fr));
  --spacing: 8px;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
