.container {
  max-width: 1280px;
  padding: 45px 25px;
  display: flex;
  flex-direction: row;
}

.page-container {
  padding-bottom: 60px;
  max-width: 600px;
}

.light {
  color: #a3acb9;
}

.header {
  position: relative;
  flex: 0 0 250px;
  padding-right: 48px;
}

.header-content {
  position: sticky;
  top: 45px;
}

.logo img {
  height: 40px;
  weight: 40px;
  margin-bottom: 52px;
}

.logo {
  display: block;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 64px;
}

.card {
  display: block;
  border-radius: 10px;
  position: relative;
  padding: 12px;
  height: 320px;
  flex: 0 0 33%;
  min-width: 304px;
  width: 33%;
  margin: 0 20px 20px 0;
  text-decoration: none;
  box-shadow:
    -20px 20px 60px #abacad,
    20px -20px 60px #ffffff;
}
.card :global(h2) {
  color: #fff;
}
.bottom {
  position: absolute;
  bottom: 10px;
}

.card img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  color: #ef2961;
}

.FormRow {
  border-radius: 6px;
  padding: 5px 12px;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: 16px;
  margin-top: 10px;
}

.elements-style {
  color: #6772e5;
  border: 1px solid #6772e5;
}
.elements-style-background {
  background: #6772e5;
  transition: box-shadow 2s;
}
.card.elements-style-background:hover {
  box-shadow:
    20px 20px 60px #464e9c,
    -20px -20px 60px #8896ff;
}
.checkout-style {
  color: #8f6ed5;
  border: 1px solid #8f6ed5;
}
.checkout-style-background {
  background: #8f6ed5;
  transition: box-shadow 2s;
}
.card.checkout-style-background:hover {
  box-shadow:
    20px 20px 60px #614b91,
    -20px -20px 60px #bd91ff;
}

.button {
  border-radius: var(--radius);
  color: white;
  font-size: larger;
  border: 0;
  padding: 12px 16px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input {
  border-radius: var(--radius);
  padding: 5px 12px;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: 16px;
  margin-top: 10px;
}

.range-input {
  margin: 5px 0;
  width: 100%;
}

/* Test card number */
.test-card-notice {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.card-number {
  display: inline;
  white-space: nowrap;
  font-family: Menlo, Consolas, monospace;
  color: #3c4257;
  font-weight: 500;
}
.card-number span {
  display: inline-block;
  width: 4px;
}

.pre {
  font-family: 'SF Mono', 'IBM Plex Mono', 'Menlo', monospace;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.03);
  padding: 12px;
  border-radius: 6px;
  max-height: 500px;
  width: 600px;
  overflow: auto;
}

.banner {
  max-width: 825px;
  margin: 0 auto;
  font-size: 14px;
  background: #fcfdfe;
  color: #6a7c94;
  border-radius: 50px;
  box-shadow:
    -20px 20px 60px #abacad,
    20px -20px 60px #ffffff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  line-height: 1.15;
  position: fixed;
  bottom: 2vh;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 980px) {
  .container {
    flex-direction: column;
  }

  .header-content {
    max-width: 280px;
    position: relative;
    top: 0;
  }

  .card {
    margin: 0 20px 20px 0;
    box-shadow: none;
  }

  .card-list {
    padding-top: 0;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .card {
    display: block;
    border-radius: 8px;
    flex: 1 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 20px 0;
    box-shadow: none;
  }

  .card-list {
    padding-top: 0;
  }

  .pre {
    display: none;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
}
